<h1>Here Is Your Hero</h1>

<h4>Name: $hero.getName()</h4>
<h4>Age: $hero.getAge()</h4>
<h4>Power: $hero.getPower()</h4>
<h4>Weakness: $hero.getWeakness()</h4>

<h4><a href="/squad-list">Squad Up!</a></h4>
