<div class="jumbotron">
  <h1>It's Time To Make Your Own Hero And Squad Up!</h1>
</div>
<h3>A lot of weird things are happening and we need some upstanding Heroes to set things straight. Time to access your inner hero abilities and squad up!</h3>

<h4><a href="/hero-form">Make your Hero!</a></h4>
