<h1>Assemble Your Squad!</h1>
<div class="form-group">
  <form action="/final" method="post">
    <label for="name">What's your squad name?</label>
    <input type="text" name="name" class="form-control">
    <label for="passion">What's your squad passion?</label>
    <input type="text" name="passion" class="form-control">
    <button type="submit" name="button" class="btn btn-danger">Do it!</button>
  </form>
</div>
